*{
  margin: 0;
  padding: 0;
}

.main{
  background-color: aliceblue;
  height: 95vh;
  width: 95vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header{
  height: 15%;
  background-color: lightgreen;
}

.box{
  height: 65%;
  display: flex;
  gap: 15px;
}

.side{
  height: 100%;
  width: 25%;
  background-color: lightgreen;
}

.contain{
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.content1{
  height: 50%;
  width: 100%;
  background-color: lightgreen;
}

.container{
  height: 50%;
  width: 100%;
  display: flex;
  gap: 10px;
} 

.content2{
  height: 100%;
  width: 50%;
  background-color: lightgreen;
}

.content3{
  height: 100%;
  width: 50%;
  background-color: lightgreen;
}

footer{
  height: 15%;
  background-color: lightgreen;
}
