*{
  margin: 0;
  padding: 0;
}

.gridContainer{
  height: 95vh;
  width: 95vw;
  background-color:gray;

  display: grid;

  grid-template-rows: 24%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;

}

.gridItem{
  border: 2px solid gray;
  background-color: gray;
}

.sidebar1{
  background-color: red;
  grid-row-start: 1;
  grid-row-end: 3;
}

.sidebar2{
  background-color: white;
  grid-row-start: 3;
  grid-row-end: 5;
}

.header1{
  background-color: aqua;
  grid-column-start: 2;
  grid-column-end: 4;

}

.header2{
  background-color: orange;
  grid-column-start: 4;
  grid-column-end: 6;
}

/* .inner{
  background-color: blue;
  grid-row-start: 2;
  grid-row-end: 5;

  grid-column-start: 2;
  grid-column-end: 5;
} */

.inner1{
  background-color: orange;
  grid-row-start: 2;
  grid-row-end: 4;

  grid-column-start: 2;
  grid-column-end: 3;
}

.inner2{
  background-color: white;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
}

.inner3{
  background-color: red;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 4;
}

.inner4{
  background-color: aqua;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
}

.side{
  background-color: red;
  grid-row-start: 2;
  grid-row-end: 5;

  grid-column-start: 5;
  grid-column-end: 6;
}